<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <section id="preload" style="display: none;">
        <!-- Ionicons -->
        <ion-icon name="settings-outline"></ion-icon>
        <ion-icon name="add-outline"></ion-icon>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
        <ion-icon name="reload-outline"></ion-icon>
        <ion-icon name="stop-outline"></ion-icon>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <ion-icon name="chevron-up-outline"></ion-icon>
        <!-- random components -->
        <canvas></canvas>
        <text-avatar></text-avatar>
        <!-- Ionic components -->
        <ion-action-sheet></ion-action-sheet>
        <ion-alert></ion-alert>
        <ion-avatar></ion-avatar>
        <ion-back-button></ion-back-button>
        <ion-button></ion-button>
        <ion-buttons></ion-buttons>
        <ion-content></ion-content>
        <ion-fab></ion-fab>
        <ion-fab-button></ion-fab-button>
        <ion-footer></ion-footer>
        <ion-grid></ion-grid>
        <ion-header></ion-header>
        <ion-input></ion-input>
        <ion-item></ion-item>
        <ion-item-group></ion-item-group>
        <ion-item-options></ion-item-options>
        <ion-item-sliding></ion-item-sliding>
        <ion-label></ion-label>
        <ion-list></ion-list>
        <ion-loading></ion-loading>
        <ion-row></ion-row>
        <ion-spinner></ion-spinner>
        <ion-text></ion-text>
        <ion-textarea></ion-textarea>
        <ion-title></ion-title>
        <ion-toast></ion-toast>
        <ion-toolbar></ion-toolbar>
    </section>
</ion-app>

