@import '../../theme/fonts';

.selected {
  color: blue;
}

.center-spinner {
    padding-left: 100%;
    margin-top: 5%;
}

:host {
    .item-interactive.ion-invalid{
     --highlight-background: #d00909 !important;
   }
   .item-interactive.ion-valid{
     --highlight-background: #0e7717 !important;
   }
 }
