<ion-header>
    <ion-toolbar>
        <ion-title>Authenticate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="enterCupsMessengerPassword()">
        <ion-list>
            <ion-item>
                <ion-input type="text" color="charcoal" placeholder="Cups Messenger Password" [(ngModel)]="password"
                    name="password" required=""></ion-input>
            </ion-item>

            <ion-item *ngIf="password && password != ''">
                <button ion-button full round color="secondary">Enter</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>