<ion-header>
    <ion-toolbar>
        <ion-title>Signin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="enterCupsMessengerPassword()">
        <ion-list>
            <ion-item>
                <ion-label floating>Enter your Cups Messenger configuration password</ion-label>
                <ion-input type="text" [(ngModel)]="password" name="password" required=""></ion-input>
            </ion-item>

            <ion-item *ngIf="password && password != ''">
                <button ion-button full round color="secondary" type="submit">Enter</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>