<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <div style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;"
    >
      <ion-label>Tor Address</ion-label>
      <ion-button (click)="copyTorAddress()" fill="clear">Copy</ion-button>
    </div>
  </ion-item>
  <ion-item lines="none">
    <ion-text color="light">
      <h5 style="font-size: smaller; font-style: italic;">{{ {torAddress: myTorAddress} | truncateEllipses:42 }}</h5>
    </ion-text>
  </ion-item>
  <div style="display: flex; justify-content: center; padding: 25px;">
    <canvas id="qr-canvas"></canvas>
  </div>
</ion-content>