<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
		  	<ion-back-button (click)="wipeCurrentContact()"></ion-back-button>
		</ion-buttons>
		<ion-title>Profile</ion-title>
		<ion-buttons slot="end">
			<ion-button style="color: #3542e5" (click)="save()">Save</ion-button>
	  	</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item-group>
		<ion-item>
			<!-- <ion-label position="stacked">Name</ion-label> -->
			<ion-input placeholder="contact name" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<!-- <ion-label position="stacked">Cups Tor Address</ion-label> -->
			<ion-input placeholder="contact cups tor address (.onion)" [(ngModel)]="torAddress"></ion-input>
    </ion-item>
    </ion-item-group>
    <div *ngIf="($error$ | async) as error">
      <ion-text class="ion-text-wrap" color="danger">{{ $error$ | async }}</ion-text>
    </div>
</ion-content>