<ion-header>
    <ion-toolbar style="padding: 20px 5px 5px 5px;">
        <ion-text slot="start" class="page-title">Cups Messenger</ion-text>               
        <ion-buttons slot="end"> 
            <ion-button color="primary" fill="clear" (click)="toNewContactPage()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button color="primary" fill="clear" (click)="toMe()">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
        
    <ion-refresher style="z-index: 1;" slot="fixed" [disabled]="($loading$ | async)" (ionRefresh)="refresh($event)">
        <ion-refresher-content 
            style=
                "border-style: solid;
                border-width: 0px 0px 1px 0px;
                border-color: #2c2e32;"
            pullingIcon="ellipsis-horizontal"
            refreshingSpinner="dots"
        ></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="$loading$ | async" 
        style ="padding: 10px;
                justify-content: center;
                display: flex;
                border-style: solid;
                border-width: 0px 0px 1px 0px;
                border-color: #2c2e32;
                align-items: center;
                background: var(--ion-background-color);
                width: 100%;
                height: 60px;
                pointer-events: none;
                z-index: 2"
    >
        <ion-spinner color="light" name="dots">
    
        </ion-spinner>    
    </div>


    <ion-item-group style="width: 100%">
        <div *ngFor="let contact of (contacts$ | async); index as i" >
            <ion-item-sliding>
                <ion-item minHeight="100px" class="item-contact" lines="full" detail='true' detail-icon="chevron-forward-outline" button (click)="toMessages(contact)">
                    
                    <div [class.item-avatar-unreads]="(unreadsCache[contact.torAddress] | async).unreads > 0" class="item-avatar">
                        {{ (contact | truncateEllipses:15)[0].toUpperCase() }}
                    </div>
                    
                    <ion-grid style="margin-left: 3.5%">
                        <ion-row style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="flex-shrink: 1" class="contact-name">{{ (contact | truncateEllipses:15) }}</div>
                            <div style="font-size: small; flex-grow: 0; flex-shrink: 0" *ngIf="contact.lastMessages[0]">{{contact.lastMessages[0].timestamp | dateDisplay:true}}</div>
                        </ion-row>
                        <ion-row >
                            <div class="message-preview" *ngIf="contact.lastMessages[0]">{{ contact.lastMessages[0].text }}</div>
                            <div class="message-preview" *ngIf="!contact.lastMessages[0]">{{ "\t" }}</div>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item-options side="end" lines="full">
                    <ion-item-option color="medium" (click)="presentAlertDelete(contact)">Delete</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>  
    </ion-item-group>
</ion-content>
