<ion-header>
    <ion-toolbar>   
        <ion-title>Contacts</ion-title>               
        <ion-buttons collapse="true" slot="end">
            <ion-button fill="clear" (click)="logout()">
                Logout
              </ion-button>
        </ion-buttons> 
      </ion-toolbar>
</ion-header>

<ion-content>
  <!-- contacts list -->
  <ion-item-group>
      <div *ngFor="let contact of (app.emitContacts$ | async); index as i" >
    
          <div *ngIf="(app.emitCurrentContact$ | async) || {}; let cc" >
            <ion-item-sliding>

                <ion-item class="item-contact" lines="full" detail='true' detail-icon="chevron-back-outline" button (click)="jumpToChat(contact)">
                    <ion-badge class="badge-contact" slot="start" *ngIf="contact.unreadMessages > 0">-</ion-badge>    
                    <ion-avatar class="item-avatar" slot="start">
                        <text-avatar [text]='(contact | truncateEllipses:12)'></text-avatar>
                    </ion-avatar>
                    <ion-label>{{ (contact | truncateEllipses:18) }}</ion-label>
                </ion-item>
                <ion-item-options side="end" lines="full">
                    <ion-item-option class="ion-contact-delete" color="medium" (click)="editContact(contact)">Edit</ion-item-option>
                    <ion-item-option class="ion-contact-edit" text-color="warning" color="light" (click)="deleteContact(contact)">Delete</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
          </div>
      </div>
</ion-item-group>  
<ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" fill="clear" color="var(--ion-text-color)" (click)="toNewContactPage()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>

<ion-footer>
</ion-footer>