<ion-header>
    <ion-toolbar>   
        <ion-title>Home</ion-title>               
        <ion-buttons collapse="true" slot="end">
            <ion-button style="color: #000000" fill="clear" (click)="logout()">
                Logout
              </ion-button>
        </ion-buttons> 
      </ion-toolbar>
</ion-header>

<ion-content>
  <!-- contacts list -->
  <ion-item-group>
      <div *ngFor="let contact of (app.emitContacts$ | async); index as i" >
          <div *ngIf="(app.emitCurrentContact$ | async) || {}; let cc" >
              <ion-item button detail="false" (click)="jumpToChat(contact)" [color]="(app.emitCurrentContact$ | async)?.torAddress === contact.torAddress ? 'light' : undefined">
                  <ion-avatar slot="start">
                      <text-avatar [text]='(contact | truncateEllipses:18)'></text-avatar>
                  </ion-avatar>
                  <ion-label>{{ (contact | truncateEllipses:18) }}</ion-label>
                  <ion-badge slot="end" style="border-radius: 5px; background-color:#efefef; color:#424242" *ngIf="((app.emitCurrentContact$ | async)?.torAddress !== contact.torAddress) && contact.unreadMessages > 0">{{ contact.unreadMessages }}</ion-badge>    
              </ion-item>
          </div>
      </div>
</ion-item-group>  
<ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="medium" color="white" fill="clear" (click)="toNewContactPage()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>

<ion-footer>
</ion-footer>