.item-contact{
    --min-height: 100px;
}


.item-avatar {
    background: #696c71;
}

.item-avatar-unreads {
    // --min-height: 100px;
    background:  radial-gradient(#696c71 25%, rgb(96, 154, 254));
    border-style: solid;
    border-width: 1px;
    border-color: rgb(96, 154, 254);
    // white-space: normal;
    // animation: border 1s ease 0.5s 3
}

.contact-name {
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: larger;
    text-transform: capitalize;
}

.message-preview {
    font-weight: 400;
    font-size: smaller;
    max-height: 40px;
    color: var(--ion-color-medium-shade);
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes border {
    0% {
        border-color: rgb(96, 154, 254);
    }
    50% {
        border-color: rgb(192, 215, 255);
        color: white;
    }
    100% {
        border-color: rgb(96, 154, 254);
    }
}
