// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Black.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}

/** Ionic CSS Variables **/

:root[mode=ios],
:root[mode=md] {
  --ion-font-family: 'OpenSans' !important;
  font-family: 'OpenSans' !important;
}

:root {
  /** primary **/
  --ion-color-primary: #568de6;
  --ion-color-primary-faded: #385383;
  --ion-color-primary-rgb: 86, 141, 230;
  --ion-color-primary-contrast: #bad2f7;
  --ion-color-primary-contrast-rgb: 186, 210, 247;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** medium-warn contrast **/
  --ion-color-success: #55565b;
  --ion-color-success-rgb: 152, 154, 162;
  --ion-color-success-contrast: #86e6ab;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: rgb(134, 136, 143);
  --ion-color-success-tint: #a2a4ab;

  /** warning **/
  --ion-color-warning: #86e6ab; //#feae71;
  --ion-color-warning-rgb: 134, 230, 171;
  --ion-color-warning-contrast: #1a1c21;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f95c5c;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #1a1c21;
  --ion-color-dark-rgb: 26, 28, 33;
  --ion-color-dark-contrast: #fafafa;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #55565b;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #fafafa;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: rgb(134, 136, 143);
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #d0d0d0;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #2b2b30;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // MISC
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-light);
  // --ion-text-color-rgb 	Text color of the entire app, rgb format
  // --ion-backdrop-color 	Color of the Backdrop component
  // --ion-backdrop-opacity 	Opacity of the Backdrop component
  // --ion-overlay-background-color 	Background color of the overlays
  --ion-border-color: var(--ion-color-dark-tint); // ion-item borders
  // --ion-box-shadow-color: var(--ion-color-warning); // ???
  // --ion-tab-bar-background 	Background of the Tab Bar
  // --ion-tab-bar-background-focused 	Background of the focused Tab Bar
  // --ion-tab-bar-border-color 	Border color of the Tab Bar
  // --ion-tab-bar-color 	Color of the Tab Bar
  // --ion-tab-bar-color-selected 	Color of the selected Tab Button
  --ion-toolbar-background: var(--ion-color-dark); // Background of the Toolbar
  --ion-toolbar-border-color: var(--ion-color-primary-faded);
  // --ion-toolbar-color 	Color of the components in the Toolbar
  // --ion-toolbar-segment-color 	Color of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-color-checked 	Color of the checked Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background 	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background-checked 	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-indicator-color 	Color of the Segment Button indicator in the Toolbar
  // --ion-item-background // 	Background of the Item
  // --ion-item-border-color //	Border color of the Item
  // --ion-item-color 	Color // of the components in the Item
  // --ion-placeholder-color 	// Color of the placeholder in Inputs
  --ion-item-background-activated: var(--ion-color-red);
}
 