<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="main-menu" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Chats</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content *ngIf="(globe.password$ | async)">
				<!-- button to enable to contact form -->
                <ion-button style="margin: 12px 0; color: #3542e5; text-align: left" *ngIf="!makeNewContactForm" expand="full" fill="clear" (click)="toggleNewContact()">
                    <ion-icon name="add-circle" slot="start"></ion-icon><span>New contact</span>
                </ion-button>

                <!-- new contact form -->
                <div *ngIf="makeNewContactForm">
                    <ion-button style="color: #3542e5" expand="full" fill="clear" (click)="toggleNewContact()">
                        <ion-icon name="arrow-up-circle-outline"></ion-icon>
                    </ion-button>
                    
                    <ion-item>
                        <ion-input type="text" [disabled]="submittingNewContact$ | async" placeholder="Contact Tor Address" [(ngModel)]="newContactTorAddress" name="message"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" [disabled]="submittingNewContact$ | async" placeholder="Contact Name" [(ngModel)]="newContactName" name="message"></ion-input>
                    </ion-item>
                    
                    <ion-button style="margin-top:1em; margin-bottom:1em; color: #3542e5" fill="clear" expand="full" [disabled]="submittingNewContact$ | async" (click)="submitNewContact()">
                        <ion-text><u>submit</u></ion-text>
                    </ion-button>

                    <ion-item text-center style="text-align: center" *ngIf="error$ | async">
                        <ion-label class="error-bar" style="color: #d00909">{{ error$ | async }}</ion-label>
                    </ion-item>
                    <ion-spinner *ngIf="submittingNewContact$ | async" name="lines" class="center-spinner" color="warning"></ion-spinner>
                </div>

                <!-- chat list -->
                <ion-item-group>
                    <div *ngFor="let contact of (globe.$contacts$ | async)" >
                        <div *ngIf="(globe.currentContact$ | async) || {}; let cc" >
                            <ion-item button detail="false" (click)="jumpToChat(contact)" [color]="(globe.currentContact$ | async)?.torAddress === contact.torAddress ? 'light' : undefined">
                                <ion-avatar slot="start">
                                    <text-avatar [text]='(contact | truncateEllipses:18:"shortDisplay")?.shortDisplay'>{{F}}</text-avatar>
                                </ion-avatar>
                                <ion-label>{{ (contact | truncateEllipses:18:"shortDisplay")?.shortDisplay }}</ion-label>
                                <ion-badge slot="end" style="border-radius: 5px; background-color:#efefef; color:#424242" *ngIf="((globe.currentContact$ | async)?.torAddress !== contact.torAddress) && contact.unreadMessages.length > 0">{{ contact.unreadMessages }}</ion-badge>    
                            </ion-item>
                        </div>
                    </div>
                </ion-item-group>

                <ion-button style="margin: 12px 0; color: #d00909" expand="full" fill="clear" (click)="logout()">
                    <u>Logout</u>
                </ion-button>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>

