<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="main-menu" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Chats</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
				<!-- button to enable to contact form -->
                <ion-button style="margin: 12px 0;" *ngIf="!makeNewContactForm" expand="full" fill="clear" (click)="toggleNewContact()">
                    New contact
                    <ion-icon name="add-circle" slot="end"></ion-icon>
                </ion-button>

                <!-- new contact form -->
                <div *ngIf="makeNewContactForm">
                    <ion-button expand="full" fill="clear" (click)="toggleNewContact()">
                        <ion-icon name="arrow-up-circle-outline"></ion-icon>
                    </ion-button>
                    <ion-item>
                        <ion-input type="text" [disabled]="submittingNewContact$ | async" placeholder="Contact Tor Address" [(ngModel)]="newContactTorAddress" name="message"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" [disabled]="submittingNewContact$ | async" placeholder="Contact Name" [(ngModel)]="newContactName" name="message"></ion-input>
                    </ion-item>
                    <ion-button style="margin: 20px 12px;" fill="outline" [disabled]="submittingNewContact$ | async" (click)="submitNewContact()">
                        submit
                    </ion-button>
                    <ion-item text-center *ngIf="error$ | async">
                        <ion-label class="error-bar" color="danger">{{ error$ | async }}</ion-label>
                    </ion-item>
                    <ion-spinner *ngIf="submittingNewContact$ | async" name="lines" class="center-spinner" color="warning"></ion-spinner>
                </div>

                <!-- chat list -->
                <ion-item-group>
                    <ion-item button detail="false" *ngFor="let p of (globe.contacts$ | async)" (click)="jumpToChat(p)" [color]="(globe.currentContact$ | async)?.torAddress === p.torAddress ? 'light' : undefined">
                        <ion-avatar slot="start">
                            <text-avatar [text]='(p | truncateEllipses:18:"shortDisplay")?.shortDisplay'></text-avatar>
                        </ion-avatar>
                        <ion-label>{{ (p | truncateEllipses:18:"shortDisplay")?.shortDisplay }}</ion-label>
                        <ion-badge slot="end" color="danger" *ngIf="p.unreadMessages">{{ p.unreadMessages }}</ion-badge>
                    </ion-item>
                </ion-item-group>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>