<ion-header translucent>
    <ion-toolbar>
        <ion-buttons *ngIf="(app.emitCurrentContact$ | async) as contact" class="avatar-toolbar">
            <ion-back-button color="primary" (click)="toContacts()"></ion-back-button>
            <div style="
                display: grid;
                justify-items: center;
                grid-gap: 10px;
                padding: 0 10px;"
            >
            <ion-avatar style="width: 36px; height: 36px" [class.item-avatar]="!(unreads$ | async)" [class.item-avatar-unreads]="(unreads$ | async)">
                <text-avatar [text]='contact | truncateEllipses:12'></text-avatar>
            </ion-avatar>
            <ion-title style="
                position: unset; 
                padding: 0; 
                overflow: hidden;
                font-size: 12px;
            ">
                {{contact.name || contact.torAddress}}
            </ion-title>
            </div>
            <ion-button style="
                --padding-start: 0;
                --padding-end: 6px;
            " fill="clear" color="primary" (click)="toProfile()">
                Edit
            </ion-button>
        </ion-buttons>
        
        
    </ion-toolbar>
</ion-header>

<ion-content #content>
    <div  style="height:100%; overflow: scroll; display: flex; flex-flow: column; justify-content: flex-end;" *ngIf="(app.emitCurrentContact$ | async) as contact">
        
        <!-- Yeah, end-of-scroll is on the top because we are using flex-flow: column-reverse -->
        <div id="chat" #chat class="chat">
            <div id="end-of-scroll"></div> 
            <div *ngFor="let message of (messagesForDisplay$ | async)" style="white-space: pre-line">
                <div class="left-bubble chat-message-bubble" *ngIf="(message | classify) === 'INBOUND'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <span class="msg-date contact-coloring">{{message.timestamp | date:'short'}}</span>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble" *ngIf="(message | classify) === 'SENT'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date my-coloring">{{message.timestamp | date:'short'}}</div>
                    <ion-icon class="msg-status" color="primary" name="checkmark-done-outline"></ion-icon>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble attending" *ngIf="(message | classify) === 'ATTENDING'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date my-coloring">{{message.sentToServer | date:'short'}}</div>
                    <ion-icon class="msg-status" color="primary" name="checkmark-outline"></ion-icon>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble failed" *ngIf="(message | classify) === 'FAILED'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date my-failed-coloring">{{message.sentToServer | date:'short'}}</div>
                    <div style="display: flex; justify-content: flex-end; align-items: center;">
                        <div (click)="cancel(contact, message)">
                            <ion-icon class="msg-status cancel" name="close-outline"></ion-icon>
                        </div>
                        <div (click)="retry(contact, message)">
                            <ion-icon class="msg-status retry" name="reload-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div id="start-of-scroll"></div>
            <div style="width: 100%; padding: 25px; align-items:center; display: flex; justify-content: center;">
                <ion-item lines="none">
                    <ion-spinner *ngIf="$previousMessagesLoading$ | async" name="crescent"></ion-spinner>
                    <ion-icon color="medium" *ngIf="hasAllOldMessages" name="stop-outline"></ion-icon>
                </ion-item>
            </div>
        </div>
        
        <div *ngIf="$newMessagesLoading$ | async" style="width: 100%; padding: 25px; align-items:center; display: flex; justify-content: center;">
            <ion-item lines="none">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-item>
        </div>
    </div>
        
    
    <ion-fab *ngIf="!(atBottom$ | async)" class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="light" *ngIf="(unreads$ | async)" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button size="small" color="medium" *ngIf="!(unreads$ | async)" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>  
</ion-content>

<ion-footer >
    <div class="submit" *ngIf="(app.emitCurrentContact$ | async) as contact">
        <ion-textarea class="enter-text" autoGrow rows="1" [(ngModel)]="messageToSend" name="message" placeholder="Text message"></ion-textarea>
        <ion-button [disabled]="!messageToSend" fill="clear" (click)="sendMessage(contact)">
            <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
        </ion-button>
    </div>
</ion-footer>