<ion-header translucent>
    <ion-toolbar>
        <ion-buttons *ngIf="(app.emitCurrentContact$ | async) as contact" class="avatar-toolbar">
            <ion-back-button color="primary" (click)="toContacts()"></ion-back-button>
            <div style="
                display: grid;
                justify-items: center;
                grid-gap: 10px;
                padding: 0 10px;"
            >
                <ion-avatar [class.item-avatar]="!(unreads$ | async)" [class.item-avatar-unreads]="(unreads$ | async)">
                    <text-avatar [text]='contact | truncateEllipses:12'></text-avatar>
                </ion-avatar>
                <ion-title style="
                    position: unset; 
                    padding: 0; 
                    overflow: hidden;
                    font-size: 12px;
                ">
                    {{contact.name || contact.torAddress}}
                </ion-title>
            </div>
            <ion-button style="
                --padding-start: 0;
                --padding-end: 6px;
            " fill="clear" color="primary" (click)="toProfile()">
                Edit
            </ion-button>
        </ion-buttons>
        
        
    </ion-toolbar>
</ion-header>

<ion-content #content fullscreen [scrollEvents]="true" (ionScrollEnd)="onScrollEnd()" (ionScrollStart)="onScrollStart()">
    <div *ngIf="(app.emitCurrentContact$ | async) as contact">

        <ion-infinite-scroll *ngIf="!metadata[contact.torAddress].hasAllHistoricalMessages" position="top" threshold="5%" (ionInfinite)="fetchOlderMessages($event, contact)">
          <ion-infinite-scroll-content style="margin-top: 10%" loadingSpinner="lines"></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-list #chat class="chat">
            <div id="start-of-scroll"></div>
            <div *ngFor="let message of (messagesForDisplay$ | async)" style="white-space: pre-line">
                <div class="left-bubble chat-message-bubble" *ngIf="(message | classify) === 'INBOUND'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <span class="msg-date contact-coloring">{{message.timestamp | date:'short'}}</span>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble" *ngIf="(message | classify) === 'SENT'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date my-coloring">{{message.timestamp | date:'short'}}</div>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble attending" *ngIf="(message | classify) === 'ATTENDING'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date">{{message.sentToServer | date:'short'}}</div>
                    <span class="msg-date" style="color:#a8a8a8">...SENDING</span>
                </div>
                <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble failed" *ngIf="(message | classify) === 'FAILED'" lines="none">
                    <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                    <div class="msg-date" color="warning">{{message.sentToServer | date:'short'}}</div>
                    <span class="msg-date retry" (click)="retry(contact, message)"><u>RETRY</u></span>
                </div>
            </div>    
        </ion-list>
        <div id="end-of-scroll"></div>
        
    </div>

    <ion-fab *ngIf="!(atBottom$ | async)" class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="warning" *ngIf="(unreads$ | async)" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button size="small" color="medium" *ngIf="!(unreads$ | async)" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer translucent class="submit" *ngIf="(app.emitCurrentContact$ | async) as current">
    <form (keydown.meta.Enter)="checkSubmit($event, current)" (keydown.shift.Enter)="checkSubmit($event, current)">
        <ion-textarea class="enter-text" autoGrow rows="1" [(ngModel)]="messageToSend" name="message" placeholder="Text message"></ion-textarea>
        <ion-button [disabled]="!messageToSend" fill="clear" (click)="sendMessage(current)">
            <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
        </ion-button>
    </form>
</ion-footer>
