<ion-header translucent>
    <ion-toolbar>
        <ion-buttons *ngIf="(app.emitCurrentContact$ | async) as contact" class="avatar-toolbar">
            <ion-back-button color="primary" (click)="toContacts()"></ion-back-button>
            <div style="
                display: grid;
                justify-items: center;
                grid-gap: 10px;
                padding: 0 10px;"
            >
            <ion-avatar style="width: 36px; height: 36px" [class.item-avatar]="!(unreads$ | async)" [class.item-avatar-unreads]="(unreads$ | async)">
                <text-avatar [text]='contact | truncateEllipses:12'></text-avatar>
            </ion-avatar>
            <ion-title style="
                position: unset; 
                padding: 0; 
                overflow: hidden;
                font-size: 12px;
            ">
                {{contact.name || contact.torAddress}}
            </ion-title>
            </div>
            <ion-button fill="clear" color="primary" (click)="toProfile()">
                Edit
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollEnd)="onScrollEnd()" (window:resize)="handleResize()">
    <ion-list id="chat"  *ngIf="(app.emitCurrentContact$ | async) as contact">
        <div *ngIf="$newMessagesLoading$ | async" style="width: 100%; padding: 25px; align-items:center; display: flex; justify-content: center;">
            <ion-item lines="none">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-item>
        </div>

        <div id="end-of-scroll"></div>         
        <div *ngFor="let message of (messagesForDisplay$ | async)">
            <div id="{{message.id}}" class="left-bubble" *ngIf="(message | classify) === 'INBOUND'" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <span class="msg-date contact-coloring">{{message.timestamp | date:'short'}}</span>
            </div>
            <div id="{{message.id}}" [attr.id]="message.trackingId" class="right-bubble chat-message-bubble" *ngIf="(message | classify) === 'SENT'" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <div class="msg-date my-coloring">{{message.timestamp | date:'short'}}</div>
                <ion-icon class="msg-status" color="primary" name="checkmark-outline"></ion-icon>
            </div>
            <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble attending" *ngIf="(message | classify) === 'ATTENDING'" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <div class="msg-date my-coloring">{{message.sentToServer | date:'short'}}</div>
                <ion-icon class="msg-status" color="primary" name="timer-outline"></ion-icon>
            </div>
            <div [attr.id]="message.trackingId" class="right-bubble chat-message-bubble failed" *ngIf="(message | classify) === 'FAILED'" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>

                <div style="display: flex; justify-content: flex-end; align-items: center;">
                    <ion-icon (click)="cancel(contact, message)" class="msg-status cancel" name="close-outline"></ion-icon>
                    <div class="msg-date my-failed-coloring">{{message.sentToServer | date:'short'}}</div>
                </div>
                                    
                <div style="font-size: 12px" (click)="retry(contact, message)">
                    RETRY 
                </div>

            </div>
        </div>
        <div id="start-of-scroll"></div>

        <div style="width: 100%; padding: 25px; align-items:center; display: flex; justify-content: center;">
            <ion-item lines="none">
                <ion-spinner *ngIf="$previousMessagesLoading$ | async" name="crescent"></ion-spinner>
                <div *ngIf="$hasAllOldMessages$ | async" style="display: flex; flex-flow: column;">
                    <!-- <div style="display: flex; justify-content: center; align-items: center;">
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                    </div> -->
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <!-- <ion-icon color="medium" name="stop-outline"></ion-icon> -->
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <ion-icon color="medium" name="stop-outline"></ion-icon>
                        <!-- <ion-icon color="medium" name="stop-outline"></ion-icon> -->
                    </div>
                    <ion-text color="success" style="padding: 10px">No Older Messages</ion-text>
                </div>
            </ion-item>
        </div>
    </ion-list>

    <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
    </ion-fab>
</ion-content>

<ion-footer>
    <div id="textInput" style="border-style: solid; border-color: var(--ion-color-primary-faded);" class="submit" *ngIf="(app.emitCurrentContact$ | async) as contact">
        <div style="
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
        ">
            <ion-textarea 
                style="max-height: 130px; overflow: scroll;
                background: black; border-radius: 15px; margin-left: 8px; margin-right: -58px; padding-right: 38px" 
                class="enter-text" autoGrow rows="1" [(ngModel)]="messageToSend" name="message" placeholder="Text message"></ion-textarea>
            <ion-button 
            style= "z-index: 999;"
            [disabled]="!messageToSend" fill="clear" (click)="sendMessage(contact)">
                <ion-icon slot="icon-only" name="chevron-up-circle"></ion-icon>
            </ion-button>
        </div>
        
        <ion-fab-button [class.jump-fab-unreads]="unreads$ | async" *ngIf="!($jumping$ | async) && !initting" style="margin-left: 0px;" class="jump-fab" size="small" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
    </div>
</ion-footer>