<ion-header>
    <ion-toolbar>
        <ion-title>Authenticate</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form (ngSubmit)="enterCupsMessengerPassword()">
        <ion-list>
            <ion-item>
                <ion-input type="password" color="charcoal" placeholder="Cups Messenger Password" [(ngModel)]="password"
                    name="password" autocomplete="on" required></ion-input>
            </ion-item>

            <ion-button [disabled]="!password" style="margin-top: 30px" expand="block" fill="outline" (click)="enterCupsMessengerPassword()">
                Continue
            </ion-button>
        </ion-list>
    </form>
    <ion-item text-center *ngIf="error$ | async" lines="none">
        <ion-label class="error-bar" color="danger">{{ error$ | async }}</ion-label>
    </ion-item>
</ion-content>