<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
		<ion-title color="charcoal" *ngIf="(globe.currentContact$ | async)" [routerLink]="['/profile']">
			{{ (globe.currentContact$ | async | truncateEllipses:50:"shortDisplay")?.shortDisplay }}
		</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScrollEnd)="onScrollEnd()" *ngIf="(globe.currentContact$ | async) as contact">
    <ion-infinite-scroll *ngIf="!hasAllHistoricalMessages[contact.torAddress]" position="top" threshold="5%" (ionInfinite)="fetchOlderMessages($event, contact)">
        <ion-infinite-scroll-content style="margin-top: 5%" loadingSpinner="lines"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list #chat class="chat">
        <div id="start-of-scroll"></div>
        <div *ngFor="let message of (contactMessages$ | async)">
            <div class="left-bubble chat-message-bubble" *ngIf="message.direction === 'Inbound'" lines="none">
                <span class="msg-date">{{(contact | truncateEllipses:15:"a")?.a}}</span>
                <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
            </div>
            <div class="right-bubble chat-message-bubble" *ngIf="message.direction === 'Outbound' && (message | isServer)" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <span class="msg-date">{{(({name: myTorAddress} | truncateEllipses:15:"a")?.a)}}</span>
                <span class="msg-date">{{message.timestamp | date:'short'}}</span>
            </div>
            <div class="right-bubble chat-message-bubble" *ngIf="message.direction === 'Outbound' && (message | isAttending)" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <span class="msg-date">{{(({name: myTorAddress} | truncateEllipses:15:"a")?.a)}}</span>
                <div class="msg-date">{{message.sentToServer | date:'short'}}</div>
                <span class="msg-date" style="color:#a8a8a8">...SENDING</span>
            </div>
            <div class="right-bubble chat-message-bubble failed" *ngIf="message.direction === 'Outbound' && (message | isFailed)" lines="none">
                <p class="chat-message ionic-text-wrap">{{message.text}}</p>
                <span class="msg-date">{{(({name: myTorAddress} | truncateEllipses:15:"a")?.a)}}</span>
                <div class="msg-date">{{message.sentToServer | date:'short'}}
                </div>
                <span class="msg-date" style="color:#333333" (click)="retry(contact, message)">  RETRY</span>
            </div>
        </div>    
    </ion-list>
    <div id="end-of-scroll"></div>

    <ion-fab *ngIf="(contactMessages$ | async)?.length && unreads" class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button style="background-color: #ffffff; color:#333333" (click)="jumpToBottom()">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer *ngIf="(globe.currentContact$ | async) as current">
    <form (ngSubmit)="sendMessage(current)">
        <ion-grid >
            <ion-row>
                <ion-col col-10>
                    <ion-input type="text" placeholder="Type a message" [(ngModel)]="messageToSend" name="message">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>