<ion-header>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-title *ngIf="(contact$ | async) && !addContactNameForm" class="center">
                {{(contact$ | async | truncateEllipses:50:"longDisplay")?.longDisplay}}
            </ion-title>
            <form *ngIf="(contact$ | async) && addContactNameForm" (ngSubmit)="addContactName()">
                <ion-input type="text" placeholder="Enter new contact name" [(ngModel)]="contactName" name="contactName">
                </ion-input>
            </form>
            <ion-button fill="clear" color="charcoal" (click)="contactNameForm()" *ngIf="!(contact$ | async)?.name && (contact$ | async) && !addContactNameForm">
                add contact name
            </ion-button>
            
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content background="url('../assets/cupsbackground.png')" #content [scrollEvents]="true"
    (ionScrollEnd)="checkIfAtBottom()">
    <ion-list background="url('../../assets/cupsbackground.png')" class="chat">
        <div *ngFor="let message of (contactMessages$ | async)">
            <div class="chat-message" *ngIf="message.direction === 'Inbound'" lines="none" [attr.id]="message.id">
                <div class="chat-message left-bubble">
                    <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                    <p class="ionic-text-wrap">{{message.text}}</p>
                </div>
            </div>
            <div class="chat-message" *ngIf="message.direction === 'Outbound'" lines="none" [attr.id]="message.id">
                <div class="chat-message" class="chat-message right-bubble">
                    <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                    <p class="ionic-text-wrap">{{message.text}}</p>
                </div>
            </div>
        </div>
        <div id="end-of-scroll"></div>
    </ion-list>
</ion-content>

<ion-footer>
    <form (ngSubmit)="sendMessage()">
        <ion-grid *ngIf="(contact$ | async)">
            <ion-row>
                <ion-col col-10>
                    <ion-input type="text" placeholder="Type a message" [(ngModel)]="messageToSend" name="message">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-button *ngIf="unreads" (click)="jumpToBottom()">
        Jump to bottom
    </ion-button>
</ion-footer>