<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <ion-item lines="none">
            <ion-title color="charcoal" *ngIf="(this.currentContact$ | async) && !addContactNameForm" class="center">
                {{(this.currentContact$ | async | truncateEllipses:50:"longDisplay")?.longDisplay}}
            </ion-title>
            <ion-item *ngIf="(this.currentContact$ | async) && addContactNameForm">
                <form (ngSubmit)="updateContact()" >
                    <ion-input type="text" size="150" [disabled]="updatingContact" placeholder="new contact name" [(ngModel)]="contactNameToAdd" name="contactNameToAdd">
                    </ion-input>
                </form>
                <ion-button fill="clear" color="charcoal" (click)="contactNameForm(false)">
                    <ion-icon color="charcoal" name="arrow-dropright"></ion-icon>
                </ion-button>    
            </ion-item>
            <ion-button fill="clear" color="charcoal" (click)="contactNameForm(true)" *ngIf="(this.currentContact$ | async) && !addContactNameForm">
                edit
            </ion-button>
            
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content #content [scrollEvents]="true" (ionScrollEnd)="toggleUnreads()">
    
    <ion-list background="url('../../assets/cupsbackground.png')" class="chat">
        <div *ngFor="let message of (contactMessages$ | async); let i = index">
            <div class="chat-message" *ngIf="message.direction === 'Inbound' && !message.attending" lines="none" [attr.id]="i">
                <div class="chat-message left-bubble">
                    <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                    <p class="ionic-text-wrap">{{message.text}}</p>
                </div>
            </div>
            <div class="chat-message" *ngIf="message.direction === 'Outbound' && !message.attending" lines="none" [attr.id]="i">
                <div class="chat-message" class="chat-message right-bubble">
                    <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                    <p class="ionic-text-wrap">{{message.text}}</p>
                </div>
            </div>
            <div class="chat-message" *ngIf="message.attending" lines="none" [attr.id]="i">
                <div class="chat-message right-bubble-attending">
                    <span class="msg-date">{{message.timestamp | date:'short'}}</span>
                    <p class="ionic-text-wrap">{{message.text}}</p>
                </div>
            </div>
        </div>    
        <div id="end-of-scroll"></div>
    </ion-list>

</ion-content>

<ion-footer>
    <form (ngSubmit)="sendMessage()">
        <ion-grid *ngIf="(currentContact$ | async)">
            <ion-row>
                <ion-col col-10>
                    <ion-input type="text" placeholder="Type a message" [(ngModel)]="messageToSend" name="message">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-button *ngIf="unreads" (click)="jumpToBottom()">
        Jump to bottom
    </ion-button>
</ion-footer>