/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.alert-danger {
    color: #ff4d4d !important;
}

ion-toolbar {
    border-width: 0 0 2px;
    --border-width: 0 0 2px;
}

// alert styling for ios.
.alert-wrapper.sc-ion-alert-ios {
    border-radius: 13px;
    background: #0e0e10;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-toolbar-border-color);
}

.alert-button.sc-ion-alert-ios {
    border-top: 0.55px solid var(--ion-toolbar-border-color);;
    border-right: 0.55px solid var(--ion-toolbar-border-color);;
}

// loading overlay style for ios.
.loading-wrapper.sc-ion-loading-ios {
    --spinner-color: var(--ion-color-light);
    background: #0e0e10;
    border-color: var(--ion-toolbar-border-color);
    border-style: solid;
    border-width: 1px;
}

.item-avatar {
    width: 37px;
    height: 37px;
    margin: 0;
    
    border-radius: 50%;
    line-height: 37px;
    text-align: center;

    background: radial-gradient(#1a1c22 50%, var(--ion-color-primary-contrast));
}

.item-avatar-unreads {
    background: radial-gradient(#1a1c22 10%, var(--ion-color-primary-contrast));
}
